/* screen - web-1920-1 */

.web-1920-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2984px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.web-1920-1 .rectangle-1-HlzXCz {
  background-color: transparent;
  border: 3px solid var(--black);
  display: block;
  height: 522px;
  left: calc(50.00% - 454px);
  opacity: 0;
  position: absolute;
  top: 357px;
  width: 908px;
}

.web-1920-1 .rectangle-1-HlzXCz.animate-enter {
  animation: animate-enter-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .icon-simple-discord-HlzXCz {
  background-color: transparent;
  display: block;
  height: 36px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  right: 91px;
  top: 16px;
  width: 32px;
}

.web-1920-1 .icon-simple-discord-HlzXCz.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .icon-awesome-twitter-HlzXCz {
  background-color: transparent;
  display: block;
  height: 29px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  right: 22px;
  top: 19px;
  width: 36px;
}

.web-1920-1 .icon-awesome-twitter-HlzXCz.animate-enter2 {
  animation: animate-enter2-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .art-gallery-dem-internet-speed-HlzXCz {
  background-color: transparent;
  color: var(--black);
  display: block;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 62px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 0;
  position: absolute;
  right: calc(49.93% - 289px);
  text-align: center;
  top: calc(31.11% - 19px);
  white-space: nowrap;
  width: 578px;
}

.web-1920-1 .span0-vj7np1 {
}

.web-1920-1 .span1-vj7np1 {
}

.web-1920-1 .art-gallery-dem-internet-speed-HlzXCz.animate-enter3 {
  animation: animate-enter3-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .faq-HlzXCz {
  background-color: transparent;
  height: 124px;
  left: calc(48.98% - 55px);
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: calc(40.07% - 50px);
  white-space: nowrap;
  width: 113px;
}

.web-1920-1 .what-is-this-pr-what-we-can-do-HlzXCz {
  background-color: transparent;
  height: 249px;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: calc(46.82% - 117px);
  white-space: nowrap;
  width: 32.45%;
}

.web-1920-1 .span0-arAqCH {
}

.web-1920-1 .span1-arAqCH {
}

.web-1920-1 .what-makes-us-d-ss-actively-our-HlzXCz {
  background-color: transparent;
  height: 249px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 66px;
  text-align: left;
  top: calc(46.82% - 117px);
  white-space: nowrap;
  width: 41.56%;
}

.web-1920-1 .span0-UidpGY {
}

.web-1920-1 .span1-UidpGY {
}

.web-1920-1 .utilities-of-ou-rseof-mandrills-HlzXCz {
  background-color: transparent;
  bottom: calc(43.31% - 82px);
  height: 189px;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 37.14%;
}

.web-1920-1 .span0-oInXwJ {
}

.web-1920-1 .span1-oInXwJ {
}

.web-1920-1 .what-are-the-fu-he-time-our-gam-HlzXCz {
  background-color: transparent;
  bottom: calc(34.85% - 160px);
  height: 459px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 56px;
  text-align: left;
  white-space: nowrap;
  width: 42.08%;
}

.web-1920-1 .span0-iLnNPK {
}

.web-1920-1 .span1-iLnNPK {
}

.web-1920-1 .the-drop-when-h-or-020-sol-each-HlzXCz {
  background-color: transparent;
  bottom: calc(32.55% - 71px);
  height: 219px;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 32.71%;
}

.web-1920-1 .span0-vkupmH {
}

.web-1920-1 .span1-vkupmH {
}

.web-1920-1 .span2-vkupmH {
}

.web-1920-1 .span3-vkupmH {
}

.web-1920-1 .span4-vkupmH {
}

.web-1920-1 .span5-vkupmH {
}

.web-1920-1 .span6-vkupmH {
}

.web-1920-1 .span7-vkupmH {
}

.web-1920-1 .team-HlzXCz {
  background-color: transparent;
  bottom: calc(23.26% - 15px);
  height: 63px;
  left: calc(48.95% - 75px);
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 153px;
}

.web-1920-1 .as-said-our-tea-ter-and-theyare-HlzXCz {
  background-color: transparent;
  bottom: 220px;
  height: 362px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 200px);
}

.web-1920-1 .mandrills-all-r-ts-are-reserved-HlzXCz {
  background-color: transparent;
  bottom: -4px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 366px;
}

.web-1920-1 .mask-group-1-HlzXCz {
  background-color: transparent;
  height: 66px;
  overflow: hidden;
  position: absolute;
  right: calc(50.00% - 169px);
  top: 234px;
  width: 338px;
}

.web-1920-1 .group-1-dt0Dgt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-1 .mandrills-ajvANa {
  background-color: transparent;
  color: #00ffff;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% - 3px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: calc(100.00% - 23px);
}

.web-1920-1 .mandrills-2qypIs {
  background-color: transparent;
  color: #ff0000;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% - 3px);
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: calc(100.00% - 23px);
}

.web-1920-1 .mandrills-jIXIQV {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: 13px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: calc(100.00% - 25px);
}

:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 30px;
  --font-size-m: 25px;
  --font-size-s: 20px;
  --font-size-xl: 50px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-medium-black-25px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.montserrat-medium-black-30px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
}

.montserrat-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-black-25px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-black-50px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,500");

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

body { padding: 0; margin: 0 }
#unity-container { position: absolute;width: 100%;height:100%; }
#unity-container.unity-desktop { left: 50%; top: 49.55%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20}
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px;  }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px;  }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px;  }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px;  }

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



